* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  display: block;
  margin: 0px;
  padding: 0px;
}

.layout {
  font-family: "Montserrat", sans-serif;
}

.topbar {
  background-color: #fff;
  color: #15023a;
  height: 70px;
  width: 100%;
  /* position: fixed; */
  top: 0;
  z-index: 102;
}

.topbar .wrapper,
.topbar .wrapper .left {
  display: flex;
  align-items: center;
}

.topbar .wrapper {
  padding: 10px 30px;
  justify-content: space-between;
}

.topbar .wrapper .left .logo,
.topbar .wrapper .left a {
  text-decoration: none;
  color: inherit;
}

a {
  color: #000;
  text-decoration: none;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.topbar .wrapper .left .logo {
  font-size: 40px;
  font-weight: 700;
  margin-right: 40px;
}

.topbar .wrapper .left .logo,
.topbar .wrapper .left a {
  text-decoration: none;
  color: inherit;
}

.topbar .wrapper .left .itemContainer {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.topbar .wrapper .left .itemContainer .icon {
  font-size: 18px;
  margin-right: 8px;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.topbar .wrapper .left .itemContainer span {
  font-size: 15px;
  font-weight: 500;
}

.topbar .wrapper .right .humburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 102;
}

.topbar .wrapper .right .humburger span {
  width: 100%;
  height: 3px;
  background-color: #15023a;
  transform-origin: left;
  transition: all 2s ease;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media (min-width: 40rem) {
  .sections {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
  }
}

.sections > * {
  min-height: calc(100vh - 70px);
  width: 100vw;
  scroll-snap-align: start;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
  position: relative;
  top: 0;
}

.intro .imgContainer {
  background: linear-gradient(180deg, #f5f5f5 10%, transparent),
    url(/static/img/bgintro.jpg) 50% / cover no-repeat;
  height: 90%;
  width: 100%;
  min-width: 800px;
  border-radius: 0 0 30% 30%;
  position: absolute;
  top: 0;
  bottom: 200px;
}

.intro #arrow {
  position: absolute;
  bottom: 10px;
}

.intro #arrow img {
  width: 30px;
  animation: arrowBlink 2s infinite;
}

.intro .wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@media (min-width: 40rem) {
  .intro .wrapper {
    width: 50%;
  }
}

.intro .wrapper h1 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 1% 0;
}

@media (min-width: 40rem) {
  .intro .wrapper h1 {
    font-size: 3rem;
    max-width: 90%;
  }
}

.intro .wrapper h3 {
  font-size: 1rem;
}

.intro .wrapper .social {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro .wrapper .social .icone {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.intro .wrapper .social .icone:hover {
  opacity: 0.5;
}

.intro .wrapper .buttons {
  z-index: 2;
  margin: 1rem 0;
  display: flex;
}

.intro .wrapper .buttons a {
  color: #15023a;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  margin: 0.3rem 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.intro .wrapper .buttons a:active,
.intro .wrapper .buttons a:hover {
  background-color: #15023a;
  color: #fff;
}

.intro .wrapper .buttons a {
  color: #15023a;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  margin: 0.3rem 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

/* section portfolio */

.portfolio {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem;
}

.portfolio h1 {
  font-size: 3rem;
}

.portfolio .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 40rem) {
  .portfolio .container {
    width: 70%;
  }
}

.portfolio .container .item {
  width: 230px;
  height: 140px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.5 ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .portfolio .container .item {
    width: 230px;
    height: 140px;
  }
}

.portfolio .container .item:hover {
  background-color: #15023a;
}

.portfolio .container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .container .item:hover img {
  opacity: 0.2;
}

.portfolio .container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .container .item h3 {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  text-align: center;
}

.portfolio .container .item:hover h3 {
  opacity: 1;
}

/* section slider */

.slider-container {
  width: 100%;
  background-color: #c0b5d4;
  position: relative;
}

@media (min-width: 40rem) {
  .slider-container {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider-container .arrow {
  display: none;
}

.slider-container .arrow.left {
  left: 30px;
  transform: rotateY(180deg);
}

.slider-container .arrow.right {
  right: 30px;
}

@media (min-width: 40rem) {
  .slider-container .arrow {
    display: block;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }
}

.slider-container .slider {
  position: relative;
}

@media (min-width: 40rem) {
  .slider-container .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
  }
}

.slider-container .slider .container {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

@media (min-width: 40rem) {
  .slider-container .slider .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider-container .slider .container .item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 40rem) {
  .slider-container .slider .container .item {
    width: 700px;
    max-width: 80%;
  }
}

.project,
.project .project-container {
  height: 100%;
}

.project {
  width: 100%;
}

.project,
.project .project-container {
  height: 100%;
}

.project .project-container .project-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 40rem) {
  .project .project-container .project-overview {
    display: flex;
  }
}

.project .project-container .project-overview .left {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project .project-container .project-overview .left .project-img-container {
  width: 250px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
}

.project .project-container .project-overview .left .project-img-container img {
  width: 100%;
  height: 100%;
}

.project .project-container .project-overview .left .project-buttons {
  padding: 1rem 0;
  display: flex;
}

.project .project-container .project-overview .left .project-buttons a {
  color: #15023a;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  margin: 0.3rem 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.project .project-container .project-overview .left .project-buttons a:active,
.project .project-container .project-overview .left .project-buttons a:hover {
  background-color: #15023a;
  color: #fff;
}

.project .project-container .project-overview .right {
  flex: 3 1;
  padding: 0 1rem;
}

.project .project-container .project-overview .right .project-subtitle {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.project .project-container .project-overview .right .project-tools__items {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project
  .project-container
  .project-overview
  .right
  .project-tools__items
  .project-tools__item {
  display: inline;
  padding: 0 1rem 0 0;
  font-size: 1rem;
  font-weight: 500;
}

.project .project-container .project-overview .right .project-paragraph {
  font-size: 1rem;
  text-align: justify;
}

/* section contact */


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
  position: relative;
}

@media (min-width: 40rem) {
  .contact {
      flex-direction: row;
  }
}


.contact .left {
  flex: 1 1;
  overflow: hidden;
  display: none;
}

@media (min-width: 40rem) {
  .contact .left {
      display: block;
  }
}

.contact .left img {
  height: 100%;
}

.contact .right {
  flex: 1 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .right h2 {
  font-size: 30px;
}

.contact .right form {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

@media (min-width: 40rem) {
  .contact .right form {
      width: 50%;
      height: 50%;
  }
}

.contact .right form label {
  width: 100%;
  padding: 0.3rem 0;
}

.contact .right form input {
  width: 100%;
}

.contact .right form textarea {
    width: 100%;
    height: 5rem;
}

.contact .right form button {
  width: 150px;
  height: 30px;
  color: #fff;
  background-color: #dc143c;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.boki-logo {
  z-index: 999;
  height: 70px;
}


